name: Newman run

on: 
  push:
    branches:
      - main

jobs:
  newman:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Create dir for report
        run:  mkdir -p testArtifacts

      - name:  Install Newman and HTML reporter
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      - name: Run Newman Test
        run: |
          newman run ServeRest.postman_collection.json \
            -e serveRest_env.postman_environment.json \
            -r cli,htmlextra \
            --reporter-htmlextra-export testArtifacts/report.html
                          
      - name: Upload Newman report
        uses: actions/upload-artifact@v4
        with:
          name: newman-report
          path: testArtifacts/report.html
